.album__new {
  background-color: rgba(248,248,248,0.8);
  width: 960px;
  height: 650px;
  margin: 120px auto 0;
  border-radius: 10px;

  &__contents {
    
    &__title {
      color: #808080;
      font-size: 50px;
      text-align: center;
      padding: 50px 0;
    }

    &__select {
      display: flex;
      justify-content: space-around;

      &__green {
        cursor: pointer;

        &__image {
          width: 250px;
          height: 180px;
        }
      }

      &__purple {
        cursor: pointer;

        &__image {
          width: 250px;
          height: 180px;
        }
      }

      &__red {
        cursor: pointer;

        &__image {
          width: 250px;
          height: 180px;
        }
      }
    }

    &__name {
      display: block;
      width: 500px;
      margin: 70px auto;
    }

    &__btn {
      display: block;
      background-color: #1e90ff;
      color: #fff;
      font-size: 19px;
      padding: 8px 16px;
      border-radius: 5px;
      margin: 0 auto;

      &:hover {
        border: 2px solid #1e90ff;
        background-color: #fff;
        color: #1e90ff;
      }
    }
  }
}